/* https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors */
/* Material 2014 Blue Grey */
:root {
    --color-background: #ECEFF1;
    --color-accent-1: #CFD8DC;  /* Should be nearest to background */
    --color-accent-2: #B0BEC5;
    --color-accent-3: #455A64;
    --color-accent-4: #263238;  /* Should be nearest to foreground */
    --color-foreground: #000000;
    --color-foreground-inverted: #FFFFFF;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #263238;
        --color-accent-1: #455A64;  /* Should be nearest to background */
        --color-accent-2: #B0BEC5;
        --color-accent-3: #CFD8DC;
        --color-accent-4: #ECEFF1;  /* Should be nearest to foreground */
        --color-foreground: #FFFFFF;
        --color-foreground-inverted: #000000;
    }
}

html {
    height: 100%;
}

body {
    /* Sticky footer. */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers */
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;

    max-width: 60em;
    margin: auto;
    font-family: 'Noto Sans', 'Roboto', 'Segoe UI', sans-serif;
    background-color: var(--color-accent-3);
    color: var(--color-foreground)
}

a {
    color: var(--color-accent-4);
}

main, footer {
    padding: 0.5em;
}

main {
    background-color: var(--color-background);
}

footer {
    font-size: 65%;
    background-color: var(--color-accent-1);
}

h1 {
    font-size: 175%;
}

.copyright p {
    margin: 0;
}


/* Button styling
   A "button" is expected to be a container (usually `a` or `button`) with 
   1 or more elements inside (typically an icon and text) each in a span. */
.button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-accent-1);
    border: 1px solid var(--color-accent-4);
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
}

.button :not(:first-child) {
    margin-left: 0.25em;
}

.button:hover {
    background-color: var(--color-accent-4);
    color: var(--color-foreground-inverted);
}