.leg-table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(5, max-content);
    grid-auto-flow: dense;
    column-gap: 0.3em;
}

.leg-table thead, 
.leg-table tbody, 
.leg-table tr {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    margin: 0;
    padding: 0;
}

.leg-table tbody tr {
    grid-template-rows: repeat(4, max-content);
}

.leg-table th {
    font-size: 92.5%;
}

tr.top-level-header, 
th.alighting,
th.actions {
    display: none;
}

td.actions.add {
    grid-column: 1 / -1;
    margin: 0.3em 0;
    display: flex;
    flex-direction: row;
}

td.actions.delete,
td.actions.view {
    grid-column: -1;
    grid-row: 2 / -1;
    padding-left: 0.3em;
    border-left: 1px solid;
}

td.actions.delete {
    padding-bottom: calc(2.3em + 1px);
    border-color: slategrey;
}

td.actions.view {
    padding-top: calc(2.3em + 1px);
    border-color: transparent;
}

td.actions.add::before, td.actions.add::after {
    content: '';
    flex: 1 1;
    border-bottom: 2px solid slategrey;
    margin: auto 0;
}

.leg-table td {
    font-size: 90%;
    margin: 0;
    padding: 0;
}

td.service-info {
    grid-column: 1 / -2;
    font-size: 70%;
}

.stop {
    text-align: left;
}

.time {
    text-align: center;
}

.delay, .platform {
    text-align: right;
}

.add-button, 
.delete-button,
.view-button {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 2em;
    height: 2em;
    padding: 0;
    color: inherit;
    font: inherit;
    text-decoration: none;
    background-color: ghostwhite;
    border: 1px solid lightslategrey;
    border-radius: 50%;
}

.add-button:active, 
.delete-button:active,
.view-button:active {
    background-color: lightblue;
}

.add-button span, 
.delete-button span,
.view-button span {
    display: none;
}

.add-button::after {
    content: '\2795';
}

.delete-button::after {
    content: '\1F5D1';
    font-size: 120%;
}

.view-button::after {
    content: '\1F441';
    font-size: 120%;
}

@media (min-width: 600px) {
    .leg-table {
        grid-template-columns: 1fr repeat(4, max-content) 1fr repeat(5, max-content);
    }

    tr.top-level-header, 
    th.alighting {
        display: inherit;
    }

    .top-level-header .boarding, 
    .top-level-header .alighting {
        grid-column: span 4;
    }

    th.service-info {
        display: none;
    }

    td.actions.delete {
        padding-bottom: 0;
    }

    td.actions.view {
        padding-top: 0;
        /* Delete button width (2em), padding (0.3em) & border (1px) + gap (0.3em). */
        padding-left: calc(2.6em + 1px);
    }
}