.leg-table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(5, max-content);
    grid-auto-flow: dense;
    column-gap: 0.5em;
}

.leg-table thead, 
.leg-table tbody, 
.leg-table tr {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    margin: 0;
    padding: 0;
}

.leg-table tr {
    padding: 0.25em 0;    
}

.leg-table tbody tr {
    border-top: 1px solid var(--color-accent-1);
}

.leg-table th {
    font-size: 92.5%;
}

tr.top-level-header, 
th.alighting,
th.actions {
    display: none;
}

.leg-table td {
    font-size: 90%;
    padding: 0;
}

td.service-info {
    grid-column: 1 / -2;
    font-size: 70%;
}

td.actions {
    grid-column: -1;
    grid-row: 1 / span 3;
}

.stop {
    text-align: left;
}

.time {
    text-align: center;
}

.delay, .platform {
    text-align: right;
}

/* Row action menus. */
td.actions {
    position: relative;
    cursor: pointer;
}

td.actions menu {
    display: none;
}

td.actions:hover menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10em;
    background-color: var(--color-accent-1);
    border: 1px solid var(--color-accent-2);
    border-radius: 0.5em;
    z-index: 1;
}

td.actions a.action {
    margin: 0.5em;
}

/* Common styling for action menus & links. */
td.actions menu, .end-actions menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

a.action {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-accent-1);
    border: 1px solid var(--color-accent-4);
    border-radius: 0.5em;
    padding: 0.25em;
}

td.actions a :not(:first-child) {
    margin-left: 0.25em;
}

a.action:hover {
    background-color: var(--color-accent-4);
    color: var(--color-foreground-inverted);
}

/* End actions. */
.end-actions {
    margin: 0.5em 0;
    display: inline-flex;  /* Size to content. */
    font-size: 90%;
}

/* Upscale to desktop. */
@media (min-width: 40em) {
    .leg-table {
        grid-template-columns: 1fr repeat(4, max-content) 1fr repeat(5, max-content);
    }

    tr.top-level-header, 
    th.alighting {
        display: inherit;
    }

    .top-level-header .boarding, 
    .top-level-header .alighting {
        grid-column: span 5;
        border-bottom: 1px solid var(--color-accent-1);
    }

    .top-level-header th,
    .platform {
        margin-right: 0.5em;
    }

    th.service-info {
        display: none;
    }
}