.search-form {
    display: grid;
    grid-template-columns: max-content minmax(10em, 20em);
    gap: 0.25em 1em;
    font-size: 90%;
}

.search-form div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
}

.search-form input {
    font-family: inherit;
    height: 2em;
}

.search-form .buttons {
    grid-template-columns: max-content max-content;
    gap: 0.5em;
    margin-top: 1em;
}